body {
	background: black;
}

.postcard {
	background: white;
	width: 500px;
	height: 350px;
	margin: auto;
}

.postcard-header {
	display: flex;
	padding: 10px;
	font-family: cursive;
}

.postcard-header img {
	width: 70px;
	height: 70px;
}

.postcard-header h1 {
	width: 400px;
	margin: none;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 10px;
	font-family: cursive;
}
input {
	border: none;
	border-bottom: 1px grey solid;
	font-family: cursive;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: darkgrey;
	padding: 5px;
	padding-bottom: 10px;
	border: none;
	font-family: cursive;
}
